.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.color-box {
  position: relative;
  text-align: center;
}

.pick-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.color-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
}

.color-square {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 2.5px;
  cursor: pointer;
}
